
[MASTER]

ignore=test
score=no
max-line-length=120

[MESSAGES CONTROL]
# R1705: Unnecessary "else" after "return" (no-else-return)
# R1722: Consider using sys.exit() (consider-using-sys-exit)
# R0801: Similar lines in files
# C0114: Missing module docstring (missing-module-docstring)
# C0116: Missing function or method docstring (missing-function-docstring)
# C0115: Missing class docstring (missing-class-docstring)
# R0201: Method could be a function (no-self-use)
# W0108: Lambda may not be necessary (unnecessary-lambda)
# R0903: Too few public methods (0/1) (too-few-public-methods)

max-complexity=5

disable=R1705,R1722,R0801,C0114,C0116,C0115,R0201,W0108,R0903

min-public-methods=1

string-quote=single

